.arrow {
    width: 16px;
    height: 16px;

    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;

    transition: var(--transition);
    color: var(--text);
}

/* TRIANGLE */
.icn-triangle {
    // Properties
    display: inline-block;
    width: 14px;
    height: 14px;
    background: currentColor;
    flex-shrink: 0;

    // Mask url
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 15l-6-6-6 6'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 15l-6-6-6 6'/%3E%3C/svg%3E");

    // Mask repeat
    mask-repeat: no-repeat;
    mask-position: center;
}

.itch-icon {
    transition:
        fill
        var(--transition),
        stroke var(--transition),
        opacity var(--transition);
}

.social-icon-img {
    display: inline-block;
    height: 16px;

    filter: grayscale(100%) opacity(1);
    transition: var(--transition);
}
