# JetBrains WebStorm
.idea/
qodana.yaml

# macOS
.DS_Store

# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.editorconfig
.server/

# Media
.download/
media/games/wizard-scape/gems/square/
media/banner/gimp/