# JetBrains WebStorm
.idea/
qodana.yaml

# macOS
.DS_Store

# Jekyll / Windows
_site/
.jekyll-cache/
.jekyll-metadata
.editorconfig

# Internal
*.ps1
TODO.md

# Media
media/games/wizard-scape/gems/square/
media/banner/gimp/