.arrow {
    width: 16px;
    height: 16px;

    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;

    transition: var(--transition);
}

.itch-icon {
    transition:
        fill
        var(--transition),
        stroke var(--transition),
        opacity var(--transition);
}

.social-icon-img {
    display: inline-block;

    filter: grayscale(100%) opacity(1);
    transition: var(--transition);
}

.resume-link:hover .social-icon-img {
    filter: grayscale(0%) opacity(1);
}