{% assign p = include.project %}
<article class="card">
    <!-- Title link -->
    {% if p.page %}
        <a class="mini-title" href="{{ p.page }}" target="_blank" data-i18n="{{ p.name }}"></a>
    {% else %}
        <span class="mini-title" data-i18n="{{ p.name }}"></span>
    {% endif %}

    <!-- Image -->
    {% if p.image %}
        <img src="{{ p.image }}"
             alt="The banner image for the game {{ p.name }}"
             onclick="openOneImage(this)" />
    {% endif %}

    <!-- Description -->
    <p class="project-desc" data-i18n-html="{{ p.desc }}"></p>

    <!-- Buttons -->
    <div class="flexbox">

        <!-- First Link (Left) -->
        {% if p.link1 and p.link1_name %}
            <a class="btn full left" href="{{ p.link1 }}" target="_blank">
                <!-- Name of the link -->
                <span data-i18n="{{ p.link1_name }}">{{ p.link1_name }}</span>
                <!-- Icon SVG or Image -->
                {% if p.link1_icon %}
                    <span class="{{ p.link1_icon }}"></span>
                {% elsif p.link1_img %}
                    <img src="{{ p.link1_img }}" alt="{{ p.link1_name }} logo"/>
                {% endif %}
            </a>
        {% endif %} <!-- /first link/ -->

        <!-- Second Link (Center) -->
        {% if p.link2 and p.link2_name %}
            <a class="btn full" href="{{ p.link2 }}" target="_blank">
                <!-- Name of the link -->
                <span data-i18n="{{ p.link2_name }}">{{ p.link2_name }}</span>
                <!-- Icon SVG or Image -->
                {% if p.link2_icon %}
                    <span class="{{ p.link2_icon }}"></span>
                {% elsif p.link2_img %}
                    <img src="{{ p.link2_img }}" alt="{{ p.link2_name }} logo"/>
                {% endif %}
            </a>
        {% endif %} <!-- /second link/ -->

        <!-- Third Link (Right) -->
        {% if p.link3_name %}
            <a class="btn full right" href="{{ p.page }}" target="_blank">
                <!-- Name of the link -->
                <span data-i18n="{{ p.link3_name }}">{{ p.link3_name }}</span>
                <!-- Icon SVG or Image -->
                {% if p.link3_icon %}
                    <span class="{{ p.link3_icon }}"></span>
                {% elsif p.link3_img %}
                    <img src="{{ p.link3_img }}" alt="{{ p.link3_name }} logo"/>
                {% endif %}
            </a>
        {% endif %} <!-- /third link/ -->

    </div><!-- /buttons/ -->
</article><!-- /card/ -->
