<div class="line"></div> <!-- Pause line -->
<section id="contact" class="cont">
    <!-- Tag -->
    <span class="tag" data-i18n="$contact.tag"></span>

    <br><!-- break -->

    <!-- Title & availability -->
    <h2 data-i18n-html="$contact.title"></h2>
    <p data-i18n="$contact.subtitle" style="text-align: center;"></p>

    <br><!-- break -->

    <!-- Button: Full Contacts -->
    <a class="btn big" href="/contacts.html">
        <span data-i18n="$contact.cta"></span>
        <span class="arrow-svg"></span>
    </a>
</section> <!-- END contact -->
