<article class="license-item">
    {% assign i = include.item %}
    <!-- Name of the item -->
    <h4>{{ i.name }}</h4>

    <!-- The image -->
    {% if i.image %}
        <img src="{{ i.image }}" alt="{{ i.name }}" />
    {% elsif i.svg %}
        <span class="{{ i.svg }}" style="animation: none"></span>
    {% endif %}

    <!-- The list -->
    <dl>
        <!-- Author -->
        {% if i.author %}
            <dt data-i18n-html="item.author"></dt>
            {% if i.author_url %}
                <dd><a href="{{ i.author_url }}">{{ i.author }}</a></dd>
            {% else %}
                <dd>{{ i.author }}</dd>
            {% endif %}
        {% endif %}

        <!-- Source -->
        {% if i.source_url %}
            <dt data-i18n="item.source"></dt>
            <dd><a href="{{ i.source_url }}">{{ i.source }}</a></dd>
        {% endif %}

        <!-- License copyright -->
        {%  if i.license %}
            <dt data-i18n="item.license"></dt>
            <dd>
                {% if i.license_url %}
                    <a href="{{ i.license_url }}"> {{ i.license }} </a>
                {% else %}
                    {{ i.license }}
                {% endif %}
            </dd>
        {% endif %}

        <!-- Trademark owner if the icon represents a brand -->
        {% if i.trademark %}
            <dt data-i18n="item.trademark"></dt>
            <dd>
                {% if i.trademark_url %}
                    <a href="{{ i.trademark_url }}">{{ i.trademark }}</a>
                {% else %}
                    {{ i.trademark }}
                {% endif %}
            </dd>
        {% endif %}

        <!-- Other notes if presents -->
        {% if i.note %}
            <dt data-i18n="item.note"></dt>
            <dd data-i18n-html="{{ i.note }}"></dd>
        {% endif %}
    </dl>
</article>
