<article class="license-item">
    <!-- Name of the item -->
    <h4>{{ include.item.name }}</h4>

    <!-- The image -->
    {% if include.item.image %}
        <img src="{{ include.item.image }}" alt="{{ include.item.name }}" />
    {% endif %}

    <!-- The list -->
    <dl>
        <!-- Author -->
        {% if include.item.author %}
            <dt data-i18n-html="item.author"></dt>
            <dd>{{ include.item.author }}</dd>
        {% endif %}

        <!-- Source -->
        {% if include.item.source_url %}
            <dt data-i18n="item.source"></dt>
            <dd><a href="{{ include.item.source_url }}">{{ include.item.source }}</a></dd>
        {% endif %}

        <!-- License copyright -->
        {%  if include.item.license %}
            <dt data-i18n="item.license"></dt>
            <dd>
                {% if include.item.license_url %}
                    <a href="{{ include.item.license_url }}"> {{ include.item.license }} </a>
                {% else %}
                    {{ include.item.license }}
                {% endif %}
            </dd>
        {% endif %}

        <!-- Other notes if presents -->
        {% if include.item.note %}
            <dt data-i18n="item.note"></dt>
            <dd data-i18n-html="{{ include.item.note }}"></dd>
        {% endif %}
    </dl>
</article>
