<!-- SEO Standard -->
<meta name="author" content="Fabio Pittaccio">
<meta name="copyright" content="© 2026 Fabio Pittaccio">
<link rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
<meta name="description" content="{{ page.description | default: 'Gameplay Developer specialized in Unreal Engine 5 and C++.' }}">

<!-- Google -->
<meta name="google-site-verification" content="fgUIs6W1lwyZS8Kln6-efhjLT2OSebtM_n6thUlczo0" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="Fabio Pittaccio Portfolio">
<meta property="og:title" content="{{ page.title | default: 'Fabio Pittaccio · Gameplay Developer' }}">
<meta property="og:description" content="{{ page.description | default: 'Gameplay Developer specialized in Unreal Engine 5 and C++.' }}">
<meta property="og:image" content="{{ '/media/banner/og-image.png' | absolute_url }}">

<!-- Twitter / X -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="{{ page.title | default: 'Fabio Pittaccio · Gameplay Developer' }}">
<meta name="twitter:description" content="{{ page.description | default: 'Gameplay Developer specialized in Unreal Engine 5 and C++.' }}">
<meta name="twitter:image" content="{{ '/media/banner/og-image.png' | absolute_url }}">