<!-- SEO Standard -->
<meta name="description" content="Game Development Portfolio of Fabio Pittaccio. Specialized in UE5 and C++, creating immersive games and experiences.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="Fabio Pittaccio Portfolio">
<meta property="og:title" content="Fabio Pittaccio · Game Developer Portfolio">
<meta property="og:description" content="Game Development Portfolio of Fabio Pittaccio. Specialized in UE5 and C++, creating immersive games and experiences.">
<meta property="og:image" content="{{ '/media/og-image.png' | absolute_url }}">

<!-- Twitter / X -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="Fabio Pittaccio · Game Developer Portfolio">
<meta name="twitter:description" content="Game Development Portfolio of Fabio Pittaccio. Specialized in UE5 and C++, creating immersive games and experiences.">
<meta name="twitter:image" content="{{ '/media/og-image.png' | absolute_url }}">