:root {
    /* Colors */
    --bg: #1E1E1E;
    --bg-alt: #252525;
    --bgbt: #333333;
    --text-muted: #999999;
    --text: #DADADA;

    --accent-soft: #FF7C5C;
    --accent: #FF3300;
    --accent-dark: #A32100;

    /* Fonts */
    --font-playfair: 'Playfair Display', serif;
    --font-sans: 'DM Sans', sans-serif;

    /* Layout & Spacing */
    --max-width: 1920px;
    --max-width-sm: 768px;
    --main-margin: 2rem;
    --main-margin-sm: 1rem;

    /* Design Tokens */
    --border: #33333388;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --shadow: #00000011;

    --link-underline: #DADADA88;
    --link-underline-hvr: #FF330088;

    /* Design Tokens - Radii */
    --rad-sml: 6px;
    --rad-big: 12px;
    --rad-img: 16px;
}
