@use "../common/base";

//#region HERO

// The hero container
.sec-hero {
    @include base.container-style (
        $direction: row,
        $align: center,
        $justify: center
    );

    // Fill the screen minus the header
    min-height: calc(95dvh - var(--hedr-h) - var(--main-margin));
    gap: clamp(3rem, 6vw, 8rem);
}

// Section specific width
.hero-content {
    max-width: 700px;
    flex-shrink: 0;
}

// The hero tag (shortest description, presentation, who i am)
.hero-tag {
    @include base.display-text(
        .75rem,
        700
    );

    color: var(--accent);
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

// The title (my name)
.hero-title {
    align-self: flex-start;
    justify-self: flex-start;
}

// The info container
.hero-info-box {
    @include base.flexbox-style(
        $justify: flex-start,
        $gap: clamp(1.5rem, 3vw, 2.5rem)
    );

    border-top: 1px solid var(--border);
    margin-top: 2rem;

    // Bold (big text)
    b {
        @include base.display-text(
            1.5rem,
            800,
            1
        );

        color: var(--accent);
        align-self: flex-start;
    }

    // The info
    span {
        @include base.display-text(.75rem);
        letter-spacing: .06em;
        text-transform: uppercase;
        opacity: .6;
        margin-top: .15rem;

        align-self: flex-start;
        text-align: left;
    }
}

// The info itself
.hero-info {
    @include base.flexbox-style(
        $direction: column,
        $align: flex-start,
        $gap: .2rem,
        $prevent-text-wrap: true
    );

    margin-top: 1rem;
}

//#endregion

//#region ABOUT

.sec-about {
    @include base.container-style($padding: 3rem);
}

/* Skills Bar */
.about-skills {
    @include base.flexbox-style(
        $justify: center,
        $wrap: wrap,
        $gap: clamp(32px, 0.833vw + 16px, 48px)
    );

    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--border);
    align-self: center;
    justify-self: center;

    img {
        width: clamp(40px, 0.521vw + 30px, 50px);
        object-fit: contain;
        filter: grayscale(100%);
        transition: var(--transition);

        &:hover {
            filter: grayscale(0%);
            transform: scale(1.15);
        }
    }
}

//#endregion

/* MOBILE */
@media (max-width: 768px) {

    //#region HERO

    // The hero container
    .sec-hero {
        @include base.container-style (
            $max-width: none,
            $direction: column,
            $align: center
        );

        // Layout
        margin-top: -3rem;
        gap: .75rem;
        text-align: center;

        // Order of elements
        .hero-content {
            display: contents;

            > .hero-tag { order: 1; }
            > .hero-title {
                order: 2;
                align-self: center;
                justify-self: center;
            }
            > p { order: 4; }
            > .btn.big  { order: 5; }
            > .hero-info-box { order: 6; }
        }
        > img { order: 3; }
    }

    // The info container
    .hero-info-box {
        @include base.flexbox-style(
            $wrap: wrap,
            $gap: 1.25rem 2.5rem
        );

        // The info itself
        .hero-info {
            align-items: center;

            // Text align
            b, span {
                align-self: center;
                text-align: center;
            }

            // Last child flexbox
            &:last-child {
                flex-basis: 100%;
            }
        }
    }

    // The scroll indicator should not be visible
    .scroll-indicator { display: none; }

    //#endregion

    //#region ABOUT

    .sec-about {
        @include base.container-style (
            $max-width: none,
            $direction: column,
            $align: center
        );

        margin-top: 3rem;

        .btn {
            margin-top: 2rem;
        }
    }

    .about-skills {
        img {
            width: clamp(30px, .521vw + 20px, 40px);
        }
    }

    //#endregion
}
