<footer>
    <!-- LEFT: Copyright -->
    <p>Fabio Pittaccio © 2026</p>

    <!-- CENTER: Licenses link -->
    <a href="/licenses.html"
       target="_blank"
       rel="license noopener noreferrer"
       data-i18n-aria="$common.footer.licenses_ARIA">
        <span data-i18n="$common.footer.licenses"></span>
    </a>

    <!-- RIGHT: Go to top -->
    <a href="#top">
        <span data-i18n="$common.footer.back_top"></span>
        <span></span> <!-- space -->
        <span class="chevron-svg" aria-hidden="true"></span>
    </a>
</footer>
