<footer>
    <div class="container">

        <!-- LEFT -->
        <div>
            <p>© 2026–2027 Fabio Pittaccio –
                <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
                   target="_blank"
                   rel="license noopener noreferrer"
                   data-i18n="footer.copyright"
                   data-i18n-aria="footer.ARIA.license">
                </a>
            </p>
        </div>

        <!-- RIGHT -->
        <div>
            <a href="#top" class="btt" data-i18n-aria="footer.ARIA.back_top">
                <span data-i18n="footer.back_top"></span>
                <span class="icn-triangle" aria-hidden="true"></span>
            </a>
        </div>

    </div>
</footer>
