<footer>
    <div class="container">

        <!-- LEFT -->
        <div>
            <p>© 2026–2027 Fabio Pittaccio –
                <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
                   target="_blank" rel="license"
                   data-i18n="footer.copyright"></a>
            </p>
        </div>

        <!-- RIGHT -->
        <div>
            <a href="#" class="btt">
                <span data-i18n="footer.back_top"></span>
                <span class="icn-triangle"></span>
            </a>
        </div>

    </div>
</footer>
