<header>
    <!-- TITLE -->
    <p><b><a href="/index.html" data-i18n-aria="head.ARIA.home">
        Fabio Pittaccio<span>.</span>
    </a></b></p>

    <!-- MAIN MENU -->
    <nav id="main-menu" data-i18n-aria="head.ARIA.nav">
        <!-- Languages -->
        <div class="lang-switcher">
            <button class="lang" id="lang-en" data-lang="en">EN</button>
            <button class="lang" id="lang-it" data-lang="it">IT</button>
        </div>

        <!-- Pages -->
        <div class="links-wrapper">
            <a class="btn link"  href="/index.html"     data-i18n="head.home"      id="nav-home">      </a>
            <a class="btn link"  href="/projects.html"  data-i18n="head.projects"  id="nav-projects">  </a>
            <a class="btn link"  href="/about.html"     data-i18n="head.about"     id="nav-about">     </a>
            <a class="btn link"  href="/contacts.html"  data-i18n="head.contacts"  id="nav-contacts">  </a>
            <a class="btn link"  href="/support.html"   data-i18n="head.support"   id="nav-support">   </a>
        </div>
    </nav>

    <!-- HAMBURGER (Mobile) -->
    <button class="hamburger" id="mobile-toggle"
            aria-expanded="false"
            aria-controls="main-menu"
            data-i18n-aria="head.ARIA.menu">
        <span></span> <span></span> <span></span>
    </button>
</header>
