<header>
    <!-- TITLE -->
    <a href="/index.html" class="logo">
        <span>FABIO PITTACCIO<b>.</b></span>
    </a>

    <!-- MAIN MENU -->
    <nav id="main-menu">
        <!-- Languages -->
        <div class="lang-switcher">
            <button class="lang" id="lang-en" data-lang="en">EN</button>
            <button class="lang" id="lang-it" data-lang="it">IT</button>
        </div>

        <!-- Pages -->
        <div class="links-wrapper">
            <a href="/index.html"     class="btn"  data-i18n="head.home"      id="nav-home">      </a>
            <a href="/projects.html"  class="btn"  data-i18n="head.projects"  id="nav-projects">  </a>
            <a href="/about.html"     class="btn"  data-i18n="head.about"     id="nav-about">     </a>
            <a href="/contacts.html"  class="btn"  data-i18n="head.contacts"  id="nav-contacts">  </a>
            <a href="/support.html"   class="btn"  data-i18n="head.support"   id="nav-support">   </a>
        </div>
    </nav>

    <!-- HAMBURGER (Mobile) -->
    <button class="hamburger" id="mobile-toggle">
        <span></span> <span></span> <span></span>
    </button>
</header>
