/* BUTTON SKELETON */
%btn-base {
    // # Custom Properties
    --btn-padding: .6rem 1.2rem;
    --fnt-size: .8rem;
    --fnt-weight: 700;
    --btn-radius: var(--rad-sml);

    // Apply Custom Properties
    padding: var(--btn-padding);
    font-size: var(--fnt-size);
    font-weight: var(--fnt-weight);
    border-radius: var(--btn-radius);

    // Layout
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: 1px solid;
    cursor: pointer;
    transition: var(--transition);

    // Typography
    font-family: var(--font-playfair), serif;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;

    & img {
        display: inline-block;
        height: 16px;
        filter: grayscale(100%) opacity(1);
        transition: var(--transition);
    }

    & svg {
        transition: var(--transition);
    }
}

@mixin btn-theme(
    $bg: var(--accent),
    $txt: var(--bg),
    $border: transparent
) {
    background: $bg;
    color: $txt;
    border-color: $border;
}

/* APPLY THE SKELETON */
button, .btn {
    @extend %btn-base;
    @include btn-theme;

    // When hovered
    &:hover {
        @include btn-theme (
            var(--accent-dark),
            var(--text),
            var(--accent-soft)
        );

        & img, & svg {
            filter: grayscale(0%) opacity(1);
            stroke: var(--text);
            transition: var(--transition);
        }

        font-style: normal;
        text-decoration: none;
    }

    // Internal Alignment
    &.center { justify-content: center;     text-align: center; }
    &.left   { justify-content: flex-start; text-align: left; }
    &.right  { justify-content: flex-end;   text-align: right; }
    &.full   { width: 100%; }

    // Big button
    &.big {
        --btn-padding: 1rem 2.5rem;
        --btn-radius: var(--rad-big);
        --fnt-size: 1rem;
        --fnt-weight: 700;
    }

    // Language
    &.lang {
        @include btn-theme(
            transparent,
            var(--text)
        );

        --btn-padding: .25rem .6rem;
        --fnt-size: .75rem;
        --btn-radius: 4px;

        &.active {
            @include btn-theme (
                var(--accent),
                var(--bg)
            );
        }

        &:hover:not(.active) {
            @include btn-theme (
                var(--accent-dark),
                var(--text-muted)
            );
        }
    }

    // Navigation Header Links Buttons
    &.link {
        @include btn-theme(
            transparent,
            var(--text)
        );

        --btn-padding: .45rem .85rem;

        &:hover {
            @include btn-theme(
                transparent,
                var(--accent-dark),
                var(--accent)
            );
        }

        &.active {
            @include btn-theme (
                var(--bgbt),
                var(--accent)
            );
        }
    }

    // Just an outline
    &.outline {
        @include btn-theme(
            transparent,
            var(--text-muted),
            var(--border)
        );

        &:hover {
            @include btn-theme(
                $bg: var(--bg-alt),
                $txt: var(--text),
                $border: var(--accent)
            );
        }
    }
}

@media (max-width: 768px) {
    button, .btn {
        --btn-padding: .9rem .7rem;

        // Big button
        &.big {
            --btn-padding: 1.4rem 2rem;
            --btn-radius: calc(var(--rad-big) - 2px);
        }

        &:last-child { border-bottom: none; }
    }
}
