@use "../common/base";

/* FOOTER */
footer {
    // Container
    @include base.container-style(
        $direction: row,
        $align: center,
        $justify: space-between
    );

    // Layout
    background: var(--bg);
    transition: var(--transition);

    // Grid
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    // Typography
    font-family: var(--font-playfair), serif;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.6;

    // Margin and border
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-top: 1px solid var(--border);

    // Justify elements
    > :first-child  { justify-self: start; }
    > :nth-child(2) { justify-self: center; }
    > :last-child   { justify-self: end; }

    // Links
    a {
        // Typography
        font-style: normal;
        text-decoration: none;

        // Internal alignment
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;

        // When not hovered, reduce opacity
        &:not(:hover) {
            opacity: .5;
            transition: var(--transition);
        }

        // When hovered, restore opacity
        &:hover {
            opacity: 1;
            transition: var(--transition);
            text-decoration: none;
        }
    }
}

/* # MOBILE # */
@media (max-width: 768px) {
    footer {
        // Layout
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // The triangle is not displayed on mobile.
        .icn-triangle { display: none; }
    }
}
