@use "../base";

    /* FOOTER */

footer {
    // Container
    @include base.container-style(
        none,
        var(--main-padding),
        row,
        center,
        space-between
    );

    // Typography
    font-family: var(--font-playfair), serif;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.6;

    // Layout
    background: var(--bg);
    z-index: 1000;
    bottom: 0; left: 0; right: 0;
    transition: var(--transition);

    // Margin and border
    margin-top: 4rem;
    padding: 1rem;
    border-top: 1px solid var(--border);

    // Mini container
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Links
    a {
        // Typography
        font-style: normal;
        text-decoration: none;

        // Internal alignment
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;

        // When not hovered, reduce opacity
        &:not(:hover) {
            opacity: .5;
            transition: var(--transition);
        }

        // When hovered, restore opacity
        &:hover {
            opacity: 1;
            transition: var(--transition);
            text-decoration: none;
        }
    }
}

    /* # MOBILE # */

@media (max-width: 768px) {
    // Footer
    footer {
        // Layout
        max-width: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // Mini container
        div {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        // The hyphen between the name and the license is hidden on mobile
        .hyphen {
            display: none;
        }
    }
}
