# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Media
/media/games/wizard-scape/gems/square/

# Command
/start-dev.ps1
start-dev.ps1
