@use "../common/base";

%img-skills {
    width: clamp(40px, 0.521vw + 30px, 50px);
    height: clamp(40px, 0.521vw + 30px, 50px);
    object-fit: contain;
    object-position: center;
    transition: var(--transition);
}

/* Skills Bar */
.skills {
    @include base.flexbox-style(
        $justify: center,
        $wrap: wrap,
        $gap: clamp(32px, 0.833vw + 16px, 48px)
    );

    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--border);
    align-self: center;
    justify-self: center;

    img {
        @extend %img-skills;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
            transform: scale(1.15);
        }
    }
}

@media (max-width: 768px) {
    .skills img {
        width: clamp(24px, 0.313vw + 18px, 30px);
    }
}
