@use "../common/base";

/* Little images skills */
%img-skills {
    width: clamp(40px, 0.521vw + 30px, 50px);
    height: clamp(40px, 0.521vw + 30px, 50px);
    object-fit: contain;
    object-position: center;
    transition: var(--transition);
}

/* Skills Bar */
.skills {
    @include base.flexbox-style(
        $justify: center,
        $wrap: wrap,
        $gap: clamp(32px, 0.833vw + 16px, 48px)
    );

    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--border);
    align-self: center;
    justify-self: center;

    img {
        @extend %img-skills;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
            transform: scale(1.15);
        }
    }
}

/* Card */
.card {
    border: 2px solid var(--border);
    border-radius: var(--rad-big);
    padding: var(--main-gap);
    gap: var(--main-gap);
    display: flex;
    flex-direction: column;
    height: 100%; // Equal cards height
    transition: transform var(--transition), box-shadow var(--transition);

    // The title link
    a {
        text-decoration: none;
    }

    // The title font
    b {
        @include base.mini-title;
        font-style: normal;
    }

    // The image inside the card
    img {
        width: 100%;
        object-fit: cover; // or contain to not cut
        aspect-ratio: 16 / 9;
    }

    // When the card is hovered
    &:hover {
        border-color: var(--accent); /* The border turns orange */
        transform: translateY(-10px);
        box-shadow: 0 10px 30px rgba(255, 80, 0, 0.15);
    }
}

/* MEDIA MOBILE */
@media (max-width: 768px) {
    /* Little images skills */
    .skills img {
        width: clamp(24px, 0.313vw + 18px, 30px);
    }

    /* The cards */
    .card {
        .btn {
            &.left, &.right {
                justify-content: center;
                text-align: center;
            }

            //.arrow { display: none; }
        }
    }
}
